*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    body {
        position: relative;
        height: 100%;
        background: #ffffff;
        font-family: 'Urbanist', Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }
    
    .swiper {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* NAVIGATION SECTION */
    
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 10px 20px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }
    
    .nav .logo img {
        height: 50px;
    }
    
    .nav .navlist {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .nav .navlist li {
        margin: 0 15px;
    }
    
    .nav .navlist li a {
        color: black;
        text-decoration: none;
        font-size: 18px;
    }
    
    .nav .nav-icons {
        display: flex;
        align-items: center;
    }
    
    .nav .nav-icons a {
        color: black;
        margin-left: 10px;
        font-size: 24px;
        text-decoration: none;
    }
    
    /* Responsive */
    @media (max-width: 768px) {
        .nav .navlist {
            display: none;
        }
        .nav .navlist.active {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            background-color: #333;
        }
        .nav .navlist li {
            margin: 10px 0;
            text-align: center;
        }
        .nav .navlist li a {
            color: white;
        }
    }
    
    /* BESTSELLER Section */
    .small-container {
        max-width: 1080px;
        margin: auto;
        padding: 40px; 
      }
      
      .small-container h2 {
        margin-bottom: 20px; 
        text-align: center; 
        font-size: 40px; 
        font-weight: bold; 
      }
    
      
      .row {
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap; 
      }
      
      .col-4 {
        flex-basis: calc(25% - 20px); 
        padding: 10px;
        margin-bottom: 50px;
        transition: transform 0.5s;
      }
    
      .col-4 h4 {
        font-size: 30px; 
        margin-top: 10px; 
        text-align: center; 
      }
    
      .col-4:hover{
        transform: translateY(-5px);
      }
      
      .col-4 img {
        width: 100%; 
        border-radius: 25px;
      }
    
    
    
    
    /* Description Section */
    .eb-description {
        padding: 80px 0;
        background-color: #fcf9f9;
        text-align: center;
    }
    
    .description-container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;
        padding: 50px;
        border-radius: 10px;
    }
    
    .eb-image {
        flex: 0 0 30%; /* Adjust the width as needed */
        margin-right: 30px; /* Adjust spacing between image and text */
    }
    
    .eb-image img {
        max-width: 150%;
        height: auto;
    }
    
    .eb-text {
        flex: 1; /* Takes remaining space */
        text-align: left; /* Adjust text alignment */
    }
    
    .eb-text p {
        font-size: 27px;
        color: #333;
        font-weight: bold;
        line-height: 1.6;
        margin-bottom: 20px; /* Adjust spacing between paragraphs */
    }
    
    .eb-text .tagline {
        font-size: 29px;
        font-weight: 700;
        color: darkred;
    }
    
    .learn-more-button {
        margin-top: 30px; 
        text-align: center; 
    }
    
    .learn-more-button .btn {
        font-weight: bold;
        display: inline-block;
        padding: 10px 20px;
        color: #333; 
        text-decoration: none;
        border: 2px solid #333; 
        border-radius: 5px;
        transition: color 0.3s ease, border-color 0.3s ease; 
    }
    
    .learn-more-button .btn:hover {
        color: #6a6a6a; 
        border-color: #6a6a6a; 
    }
    
    .view-more-button {
        text-align: center;
    }
    
    .view-more-button .btn {
        font-weight: bold;
        display: inline-block;
        padding: 10px 20px;
        color: #333;
        text-decoration: none;
        border: 2px solid #333;
        border-radius: 5px;
        transition: color 0.3s ease, border-color 0.3s ease;
    }
    
    .view-more-button .btn:hover {
        color: #6a6a6a;
        border-color: #6a6a6a;
    }
    
    
    /* EB ICONS */
    .eb-icons {
        text-align: center;
        width: 100%;
        background-color: #000000; 
        padding: 20px 0; 
        box-sizing: border-box; 
    }
    
    .icon-container {
        width: 100%; 
        max-width: 1200px; 
        margin: 0 auto; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }
    
    .icon-container h2 {
        color: #fff;
        font-size: 24px; 
    
    }
    
    .icon-container img {
        width: 100%; 
        max-width: 800px; 
        height: auto; 
        display: block; 
    }
    
    /* FOOTER */
    .footer {
        background-color: #000;
        color: #fff;
        padding: 40px 20px;
        text-align: center;
        font-family: 'Urbanist', sans-serif;
    }
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 20px;
    }
    
    .footer-column {
        flex: 1;
        min-width: 200px;
        margin-bottom: 20px;
    }
    
    .footer-column h3 {
        margin-bottom: 10px;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    
    .footer-column ul {
        list-style-type: none;
        padding: 0;
    }
    
    .footer-column ul li {
        margin-bottom: 10px;
    }
    
    .footer-column ul li a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;
    }
    
    .footer-column ul li a:hover {
        color: #ccc;
    }
    
    .social-icons {
        display: flex;
        justify-content: center;
    }
    
    .social-icons li {
        margin: 0 10px;
    }
    
    .social-icons li a {
        font-size: 24px;
        color: #fff;
        transition: color 0.3s;
    }
    
    .social-icons li a:hover {
        color: #ccc;
    }
    
    .footer-icons {
        margin: 20px 0;
    }
    
    .footer-icons img {
        max-width: 100%;
        height: auto;
    }
    
    .footer-bottom {
        border-top: 1px solid #333;
        padding-top: 20px;
        font-size: 14px;
    }
    
    .footer-bottom a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;
    }
    
    .footer-bottom a:hover {
        color: #ccc;
    }
    
    
    
    /* Responsive adjustments as needed */
    @media (max-width: 768px) {
        .description-container {
            flex-direction: column; /* Stack image on top of text on small screens */
        }
    
        .eb-image {
            margin-right: 0;
            margin-bottom: 20px; /* Adjust spacing between image and text on small screens */
        }
    }
